{% extends '::base.html.twig' %}

{% block crm_brand %}Webworks CRM{% endblock %}

{% block meta %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@WebworksFrontendBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block title %}
    {% block page_title %}Title not set!{% endblock %} - {{ block('crm_brand') }}
{% endblock %}

{% block nav %}
    {{ include('WebworksFrontendBundle:app:top/navbar.html.twig', {'brand': block('crm_brand')}) }}
{% endblock %}

{% block headline %}
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container-fluid text-muted">
            &copy; 2014 <a href="http://www.webworks-nuernberg.de" target="_blank">Webworks Nürnberg</a>{% block footer_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
