{% extends '::base.html.twig' %}

{% block crm_brand %}Webworks CRM{% endblock %}

{% block meta %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@WebworksFrontendBundle/Resources/public/css/style.css'
        '@WebworksFrontendBundle/Resources/public/css/sidebar_nav.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block title %}
    {% block page_title %}Title not set!{% endblock %} - {{ block('crm_brand') }}
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('webworks_dashboard_index') }}">{{ block('crm_brand') }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% block user_menu_items %}{% endblock %}
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i> {% trans %}navigation.search.button{% endtrans %}</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}

{% block headline %}
{% endblock %}

{% block sidebar %}
    <div class="nav-sidebar">
        {% block sidebar_menu_items %}{% endblock %}
    </div>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container-fluid text-muted">
            &copy; 2014 <a href="http://www.webworks-nuernberg.de" target="_blank">Webworks Nürnberg</a>{% block footer_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
