{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-signin">
    <h2 class="form-signin-heading">{{ page_title }} <a href="{{ path('webworks_dashboard_index') }}"><small class="text-muted">| Webworks CRM</small></a></h2>

    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-lg btn-block">{{ 'resetting.reset.submit'|trans }}</button>
</form>
